/* Main */

html {
    scroll-behavior: smooth;
}

body {
    background-color: beige;
}

h1 {
    color: green;
}

h2 {
    color: teal;
}

/* A Propos */
fieldset.message {
    position: relative;
    top: 0px; left: 35%;
    padding: 100px 50px 100px;
    background-color:#CCC;
    max-width:500px;
    padding:16px;	
    border:2px solid green;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

div.message {
    height: 300px;
    width: 1000px;
    background-color: rgb(116, 160, 160);

}

/* Menu */

ul.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    
}
/*
li.top {
    float: left;
}
*/
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}









div.ex1 {
    color: white;
    height: 50px;
    background-color: lightblue;
    display: flex;
    align-items: center;
}

div.ex2 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Diapo */
img {
    min-width: 60%;
    max-width: 61%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.diapo {
    text-align: center;
    font-size: x-large;
}

div.buton {
    text-align: center;
}

button.diapo {
    color:#343434;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#656565"); /* Pour IE seulement et mode gradient à linear */
    background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#656565));
    background: -webkit-linear-gradient(#cfcfcf, #656565);
    background: -moz-linear-gradient(#cfcfcf, #656565);
    background: -o-linear-gradient(#cfcfcf, #656565);
    background: -ms-linear-gradient(#cfcfcf, #656565);
    background: linear-gradient(#cfcfcf, #656565);
}

ul.récap {
    list-style-type: circle;
}

/* Bouton Pour remonter en haut */

#myBtn {
    font-size: 28px;
    color: whitesmoke;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    block-size: fit-content;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#myBtn:hover {
    background: rgba(0, 0, 0, 0.9);
}

form {
    font-style: oblique;
    font-size: medium;
}

p.info {
    font-size: smaller;
    font-style: italic;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: 100%;
    font-size: larger;
}

form.resa {
    font-size: larger;
    padding: 12px 20px;
}