/* Main */

html {
    scroll-behavior: smooth;
}

body {
    background-color: beige;
}

h1 {
    color: green;
}

h2 {
    color: teal;
}



  table
{
margin: auto;
}
th, td {
  padding: 5px;
}
  
/*formulaire de reservation*/
form.resa {
    
  margin: 15px auto;
  width: 500px;
  
  padding: 10px 50px 20px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 2em;
  font-style: oblique;
  font-size: medium;
}
/* A Propos */
h1.milieux {
  text-align: center
}
pre.milieux {
  text-align: center
}
.contact {
  text-align: center
}

thead {
  background-color:  #5d98db;
}

tr.tmilieu {
  background-color:  #abbbce;
}
tr.tbas {
  background-color:  #5d98db;
}
p.carte {
  text-align: center
}

table.contact {
  text-align: center; 
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid rgb(27, 4, 73);
}


  label {
    
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
   
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  
  
  textarea {
   
    vertical-align: top;
  
    height: 5em;
  }
  
  .button {
   
    padding-left: 90px; 
  }
  
  button {
  
    margin-left: .5em;
  }



/* Menu */ 

ul.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}


div.ex1 {
    color: white;
    height: 50px;
    background-color: lightblue;
    display: flex;
    align-items: center;
}

div.ex2 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Diapo */
img {
    min-width: 60%;
    max-width: 61%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.diapo {
    text-align: center;
    font-size: x-large;
}

div.buton {
    text-align: center;
}

button.diapo {
    color:#343434;
    -moz-box-shadow: 0px 0px 10px #343434;
    -webkit-box-shadow: 0px 0px 10px #343434;
    -o-box-shadow: 0px 0px 10px #343434;
    box-shadow: 0px 0px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#656565"); /* Pour IE seulement et mode gradient à linear */
    background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#656565));
    background: -webkit-linear-gradient(#cfcfcf, #656565);
    background: -moz-linear-gradient(#cfcfcf, #656565);
    background: -o-linear-gradient(#cfcfcf, #656565);
    background: -ms-linear-gradient(#cfcfcf, #656565);
    background: linear-gradient(#cfcfcf, #656565);
}

/* Vidéo Diapo */
iframe.diapo {
  position: relative; 
  left: 18%; 
  width: 800px;
  height: 500px; 
  border: 0; 
}

/* Bouton Pour remonter en haut */
#myBtn {
    font-size: 20px;
    color: whitesmoke;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    block-size: fit-content;
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#myBtn:hover {
    background: rgba(0, 0, 0, 0.9);
}

p.info {
    font-size: smaller;
    font-style: italic;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: 100%;
    font-size: larger;
}

form.resa {
    font-size: larger;
    padding: 12px 20px;
}


/* Tableau de l'acceuil */
table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 61%;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 25px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 2%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 2%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 2%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 25px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }

  /* récapitulatif*/
  h1.recacentre {
    text-align: center;
  }
  p.recacentre {
    text-align: center;
  }
  tr.couleur1 {
    background-color:  #5d98db;
  }

  tr.couleur2 {
    background-color:  #bdcde0;
  }

/*login*/

form.login {
  width:25%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: rgb(215, 222, 236);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

button.login {
  text-decoration: none;
  padding: 2%;
  font-family: arial;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #4f81bd;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border: 3px solid #FFFFFF;
  box-shadow: 3px 3px 12px #444444;
  -webkit-box-shadow: 3px 3px 12px #444444;
  -moz-box-shadow: 3px 3px 12px #444444;
  }
  
  
button.login:hover {
  padding: 1%;
  border: 4px solid #FFFFFF;
  box-shadow: 1px 1px 4px #777777;
  -webkit-box-shadow: 1px 1px 4px #777777;
  -moz-box-shadow: 1px 1px 4px #777777;
  }

/* Canvas */
path.land {
  fill: #CCCCCC;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}
path.destination {
  fill: #3389ec;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
}

